#header {
  color: black;
  background-color: rgb(153, 117, 211);
  padding: 20px;
}
#header h1 {
  color: rgb(0, 0, 7);
  font-weight: bold;
  text-align: center;
}
#header p {
  margin: auto;
  width: 55%;
  text-align: center;
  background-color: rgb(0, 128, 79);
  display: flex;
  justify-content: center;
}
#soekarno {
  margin: auto;
  width: 55%;
  text-align: center;
  background-color: yellow;
  display: flex;
  justify-content: center;
}
.b::first-letter {
  font-size: 3em;
  color: blue;
  float: left;
  line-height: 1;
  font-weight: bold;
}
.ajasendiri li {
  text-align: center;
  margin: 0px 10px;
}
body {
  background-color: rgb(99, 97, 95);
}
.gambar {
  width: 200;
  text-align: center;
}
.koleksi {
  background-color: rgb(136, 133, 128);
  text-align: center;
}
.koleksi  img {
  width: 23%;
}
.promo {
  margin: auto;
  text-align: center;
  color: rgb(12, 0, 3);
  background-color: rgb(137, 206, 206);
  width: 30%;
  border: 2px solid white;
  border-radius: 15px;
}
.promo ol {
  list-style-type: none;
}